html, body{
  height: 100%;
  margin: 0;
}
  
body {
  height: 100%;
  width: 100%;
  background-color: #ebd8c2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 3rem;
  color: #4dafb2;
  font-size: 4rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content:center;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.blockField {
  height: 26rem;
  width: 26rem;
  background-color: #b2c0dc;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(3rem, 1fr));
  gap: 0.25rem; 
  grid-column-gap: 0.25; 
  padding: 1rem;
  border-radius: 0.4rem;
  position: relative;
}

.block {
  background-color: #97adda;
  width: 3rem;
  height: 3rem;
  color: aliceblue;
  border-radius: 0.2rem;
}

.blockSpawner {
  justify-content: center;
  background-color: #db967c;
  border-radius: 0.5rem;
  width: 15rem;
  height: 32rem;
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center ;
}
  
.figure {
  margin: 1rem;
  }
  
.figure .drag-area{
  width: 100%;
  height: 100%;
  cursor: grab;
  }


.t-shape {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(2, 3rem);
  gap: 4px;
  width: fit-content;
  z-index: 10; 
}
.t{
  border-radius: 0.2rem;
  width: 3rem;
  height: 3rem;
  background-color: purple;
}
.center {
  border-radius: 0.2rem;
  width: 3rem;
  height: 3rem;
  background-color: purple;
  grid-column: 2;
}
.t-shape .drag-area{
  background-color: rgb(94, 1, 94) !important;
}



.l-shape {
  display: grid;
  grid-template-columns: 3rem 3rem;  /* Один столбец */
  grid-template-rows: 3rem 3rem 3rem;  /* Три строки */
  gap: 0.25rem;
  width: fit-content;
  grid-auto-flow: column;
  z-index: 10;
}

.l{
border-radius: 0.2rem;
width: 3rem;
  height: 3rem;
  background-color: orange;
}

/* Этот блок будет внизу и справа */
.corner {
  grid-row: 3;  /* Третий ряд (внизу) */
  grid-column: 2;  /* Во втором столбце (справа) */
  border-radius: 0.2rem;
  width: 3rem;
    height: 3rem;
    background-color: orange;
}

.l-shape .drag-area{
  background-color: rgb(237, 156, 5) !important;
}


.o-shape {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;  /* Один столбец */
  grid-template-rows: 3rem 3rem 3rem;  /* Три строки */
  gap: 0.25rem;
  width: fit-content;
  z-index: 10;
  }
  
  .o {
  border-radius: 0.2rem;
  width: 3rem;
  height: 3rem;
  background-color: blue;
  }
  
  .o-shape .drag-area{
    background-color: rgb(1, 1, 199) !important;
  }